.blue {
  background-color: blue;
  color: blueviolet;
}

.light {
  width: 200px;
  height: 200px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 200px;
  color: white;
  border: 15px solid black;
}

.greenLight {
  background-color: green; 
}

.orangeLight {
  background-color: orange; 
}

.redLight {
  background-color: red; 
}

